
{% extends 'app_foods/base.html' %}

{% block content %}
<title> {% block site_title %} Witaya | One Food  {% endblock %}</title>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">foods foods</h1>
{% if food is not None %}  
       <div>
            <h2>{{food.title}}</a> </h2>
            <h2>{{food.price|floatformat:'g'}} บาท </h2>
            <p>Promotion {{food.promotion_end_at|date:'j N Y G:I'}}</p>
           {% if food.is_premium %}
            <p> This Menu is premium</p>
            <p>This meno is my favorite item</p>


            {% endif %}
          </div>       
          
  {% else %}       
          
          <P> ไม่พบ Menu </P>
          
   {% endif %}








{% endblock content %}

